<h1>Admin Dashboard</h1>
<p>welcome</p>
<%= link_to 'Pending Applications', dashboard_application_path  %>
<br>
<%= link_to 'Onboard experts', dashboard_talents_path %>
<br>
<%= link_to 'get expert', get_experts_path %> 
<br>
<p><%= button_to "Try it for free!", user_session_path, method: :post %></p>