<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile active">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <%= image_tag 'admin/face1.jpg', alt:"profile pic" %>
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">David Grey. H</span>
                    <span class="text-secondary text-small">Manage Profile</span>
                </div>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>

        <li class="nav-item ">
            <%= link_to  dashboard_index_path, class:"nav-link" do %>
            <span class="menu-title">Finalized Request</span>
            <i class="mdi mdi-read menu-icon"></i>
            <% end %>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#" target="_blank">
                <span class="menu-title">Pending Request</span>
                <i class="mdi mdi-lan-pending menu-icon"></i>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#" target="_blank">
                <span class="menu-title">Transactions</span>
                <i class="mdi mdi-bank menu-icon"></i>
            </a>
        </li>

    </ul>
</nav>