<tr>
    <td style="border-radius: 10px;background: #fff;padding: 30px 60px 20px 60px;margin-top: 10px;display: block;">
        <p style="font-family: Roboto;font-size: 14px;font-weight: 500;font-style:
    normal;font-stretch: normal;line-height: 1.71;letter-spacing: normal;color: #001737;margin-bottom: 10px;"> Welcome, <%= @user.email.split("@")[0]  %></p>
        <p style="font-family: Roboto;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.71;letter-spacing: normal;color: #001737;"> Your account is now verified and you can book agro experts, manage  request and track transactions for your agriculture business. Also you can print your invoice for each request from my Dashboard .</p>
        <p style="font-family: Roboto;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.71;letter-spacing: normal;color: #001737;"> Hope you'll enjoy the experience, we're here if you have any questions, drop us a line at <%= mail_to 'info@agrohive.com', "Agrohive"  %> anytime.</p>
        <p style="font-family: Roboto;font-size: 14px;font-weight: normal;font-style:
    normal;font-stretch: normal;line-height: 1.71;letter-spacing: normal;color: #001737;margin-bottom: 0px;"> Thanks for joining and have a great day!</p>
        <p style="font-family: Roboto;font-size: 14px;font-weight: 500;font-style: normal;font-stretch: normal;line-height: 2.5;letter-spacing: normal;color: #001737;margin-bottom: 0px;"> Agrohive team</p>
        </td>
</tr>
