<h1>Request for an expert</h1>
<p>fill in the form with the deatails of what you want</p>
<% if current_user.nil? %>
<h2>  Request  form</h2>
<%= render partial: '/get_experts/request_forms/guest_request_form' %>
<% else %>
<h2> Request form</h2>
<%= render partial: '/get_experts/request_forms/customer_request_form' %>
<% end %>

<%= session[:guest_user_id] %>