<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(&quot;<%= image_url 'home/bg14.jpg' %>&quot;); height: 667px; background-position: 50% 501px;" data-stellar-background-ratio="0.5">
<div class="overlay"></div>
<div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start" style="height: 667px;">
    <div class="col-md-9 ftco-animate pb-5 fadeInUp ftco-animated">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Contact <i class="ion-ios-arrow-forward"></i></span></p>
        <h1 class="mb-3 bread">Become A Partner</h1>
    </div>
    </div>
</div>
</section>
<section class="ftco-section ftco-about">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(<%= image_url 'home/bg17.jpg' %>);">
            </div>
            <div class="col-md-6 wrap-about ftco-animate">
    <div class="heading-section heading-section-white pl-md-5">
        <h2 class="mb-4">BECOME A PARTNER</h2>

        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
    </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section">
<div class="container">
    <div class="row d-flex mb-5 contact-info">
    <div class="col-md-4">
        <div class="row mb-5">
		
			
        <div class="col-md-12">
            <div class="border w-100 p-4 rounded mb-2 d-flex">
            <div class="icon mr-3">
                <span class="icon-envelope-o"></span>
            </div>
            <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-8 block-9 mb-md-5">
        <%= form_with model: @message,  url: {action: "create"}, class:"bg-light p-5 contact-form" do |f| %>
        <div class="form-group">
            <input type="text" name="message[name]" id="message_name" class="form-control" placeholder="Your Name">
        </div>
        <div class="form-group">
            <input type="text" name="message[email]" id="message_email" class="form-control" placeholder="Your Email">
        </div>
        <div class="form-group">
            <input type="text" name="message[phone_number]" id="message_phone_number" class="form-control" placeholder="Your Phone Number">
        </div>
        <div class="form-group">
            <input type="text" name="message[company_about]" id="message_company_about" class="form-control" placeholder="Organisation">
        </div>
        <div class="form-group">
            <input type="text" name="message[location]" id="message_location" class="form-control" placeholder="Website">
        </div>
        <div class="form-group">
            <textarea  name="message[body]" id="message_body" cols="30" rows="7" class="form-control" placeholder="Area of interest to collaborate together with Agrohive."></textarea>
        </div>
        <div class="form-group">
            <input type="submit" name="commit" value="Send Message" class="btn btn-primary py-3 px-5">
        </div>
        <% end %>
        
    </div>
    </div>
      
</div>
</section>