<h1> BECOME AN EXPERT </h1>
<h2>HI, ARE YOU AN EXPERT, APPLY NOW</h2>
    <% @expert_specializations.each do |f| %>
        <li>
           <%= f.expert_specialization %>
        </li>
    <%end%>
<%= link_to 'apply', new_expert_application_path %>