<section class="ftco-section ftco-no-pt bg-light">
<div class="container">
    <div class="row no-gutters">
    <div class="col-md-12	featured-top">
        <div class="row no-gutters">
        <div class="col-md-4 d-flex align-items-center">
            <form action="index.html#" class="request-form ftco-animate bg-primary fadeInUp ftco-animated">
            <h2>Book Talent</h2>
            <div class="form-group">
                <label for="" class="label">Phone Number</label>
                <input type="text" class="form-control" placeholder="add your number">
            </div>
            <div class="form-group">
                <label for="" class="label">Expected contract duration</label>
                <input type="text" class="form-control" placeholder="in months">
            </div>
            <div class="d-flex">
                <div class="form-group mr-2">
                <label for="" class="label">Expected start date</label>
                <input type="text" class="form-control" id="book_pick_date" placeholder="Date">
                </div>
                <div class="form-group ml-2">
                <label for="" class="label">Expected start date</label>
                <input type="text" class="form-control" id="book_off_date" placeholder="Date">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="label">Quantity</label>
                <input type="text" class="form-control ui-timepicker-input" id="time_pick" placeholder="Time" autocomplete="off">
            </div>
            <div class="form-group">
                <span class="fas fa-camera">add</span> remove
            </div>
            <div class="form-group">
                <input type="submit" value="Book Expert Now" class="btn btn-secondary py-3 px-4">
            </div>
            </form>
        </div>
        <div class="col-md-8 d-flex align-items-center">
            <div class="services-wrap rounded-right w-100">
            <h3 class="heading-section mb-4">Better Way to Rent Your Perfect Cars</h3>
            <div class="row d-flex mb-4">
                <div class="col-md-4 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="services w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                    <div class="text w-100">
                    <h3 class="heading mb-2">Choose Required Talent</h3>
                    </div>
                </div>      
                </div>
                <div class="col-md-4 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="services w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
                    <div class="text w-100">
                    <h3 class="heading mb-2">We Select the Best Deal</h3>
                    </div>
                </div>      
                </div>
                <div class="col-md-4 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="services w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                    <div class="text w-100">
                    <h3 class="heading mb-2">Contract Begins</h3>
                    </div>
                </div>      
                </div>
            </div>
              
            </div>
        </div>
        </div>
    </div>
</div>
</div>
</section>