<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <% if  @user.customer_role?%>
       <p> Dear <%= @user.email%>, </p>
    <% else %>
    <h4>  Hello, there</h4>
    <p>We got a request from you</p>
    <% end %>
  <p>This is a summary of your order</p>
  <p>Talent Demand:</p>
  <p>Unit needed</p>
  <p>Start Date</p>
  <p>End Date</p>
  <p>Cost of Service: </p>
  <p>Total</p>
  <%= link_to  "Proceed to payment", root_url %>
</body>
</html>