<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
 <body>
  <p>Dear,<%= @expert.lastName%> </p>
  <p>We are happy to inform you that your application have been accepted as a <%= @expert.talent_type.expert_specialization%>.</p>
  <p>Congratulations on getting into our platform, and we look forward to working with you soon.</p>
 </body>
</html>