<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <p>A new application for <%= @expert.talent_type.expert_specialization%>.</p>
    <p><%= link_to  "See more", expert_url(@expert.id) %> more to take final action.</p>
</body>
</html>
