<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <p>You have a new job at </p>
    <p>The job role is INSERT JOB ROLE</p>
    <p>The contract will start. and eend INSERT</p>
</body>
</html>