<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <p>You have a new job at </p>
    <p>The contract will start <%= @talent_assignment.start_date%> and end <%= @talent_assignment.end_date%>  </p>
</body>
</html>
