<div class="col-md-8 block-9 mb-md-5">
    <%= form_for(@expert, class:"bg-light p-5 contact-form")  do |f| %>
    <div class="form-group">
        <div class="form-group">
            <%= f.select(:talent_type_id, @expert_specialization_list.collect{|e| [e.expert_specialization, + e.id]}, {:include_blank => 'Please select a category'}, class:"form-control" ) %>
        </div>
        <input type="text" name="expert[first_name]" id="expert_first_name" class="form-control" placeholder="First Name">
    </div>
    <div class="form-group">
        <input type="text" name="expert[last_name]" id="expert_last_name" class="form-control" placeholder="Last Name">
    </div>
    <div class="form-group">
        <input type="text" name="expert[email]" id="expert_email" class="form-control" placeholder="Your Email">
    </div>
    <div class="form-group">
        <input type="text" name="expert[phone_number]" id="expert_phone_number" class="form-control" placeholder="Your Phone Number">
    </div>
    <div class="form-group">
        <input type="text" name="expert[contact_address]" id="expert_contact_address" class="form-control" placeholder="Contact Address">
    </div>
    <div class="form-group">
        <input type="text" name="expert[certification]" id="expert_certification" class="form-control" placeholder="Certifications">
    </div>
    <div class="form-group">
        <textarea name="expert[short_bio]" id="expert_short_bio" cols="30" rows="7" class="form-control" placeholder="Short Bio."></textarea>
    </div>
    <div class="form-group">
        <input type="submit" name="commit" value="Submit" disable_with="Submiting..." data-disable-with="Submit" class="btn btn-primary py-3 px-5">
    </div>
    <% end %>
        
</div>